// Badge component
.badge {
	@apply ~"t-inline-flex t-items-center t-px-2.5 t-py-0.5 t-rounded-full t-text-xs t-font-medium";

	// Default variant
	& {
		@apply t-bg-gray-200 t-text-gray-700; //bg-gray-100 text-gray-800;
	}

	// Color variants
	&-primary {
		@apply t-bg-blue-100 t-text-blue-800;
	}

	&-success {
		@apply t-bg-green-100 t-text-green-800;
	}

	&-warning {
		@apply t-bg-yellow-100 t-text-yellow-800;
	}

	&-danger {
		@apply t-bg-red-100 t-text-red-800;
	}

	// Size variants
	&-sm {
		@apply ~"t-px-1 t-py-0 t-text-[10px] t-rounded";
	}

	&-lg {
		@apply ~"t-px-3 t-py-1 t-text-sm";
	}
}

html[data-theme="dark"],
.dark {
	.badge {
		background-color: rgba(255, 255, 255, 0.08);
		color: #fff;

		&-primary {
			background-color: #2563eb;
			color: #fff;
		}

		&-success {
			background-color: #16a34a;
			color: #fff;
		}

		&-warning {
			background-color: #facc15;
			color: #333;
		}

		&-danger {
			background-color: #dc2626;
			color: #fff;
		}
	}
}